.dp-contacts {
  display: flex;
}

.dp-contact {
  position: relative;
  bottom: 25px;
  right: 0;
  display: flex;
  flex-direction: row;

  @media screen and (min-width: $screen-sm-min) {
    top: 25px;
  }

  ul {
    li {
      a {
        font-size: 30px;
        color: #fff;
        margin: 0 15px;

        &:first-child {
          margin-left: 0;
        }

        @media screen and (min-width: $screen-sm-min) {
          font-size: 25px;
        }

        &:hover {
          color: #ddd;
        }
      }
    }
  }
}