// colors
$input-background: rgba(57, 63, 84, 0);
$input-text-inactive: #807e87;
$input-text-active: #BFD2FF;

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.glitch-effect-input {
  position: relative;
  border: 2px solid #ddd;
  color: $input-text-active;
  padding: 1.4rem 2rem 1.6rem;
  width: 335px;
  vertical-align: middle;
  font-size: 1.8rem;
  line-height: 2.4rem;

  &::-webkit-input-placeholder {
    color: $input-text-inactive;
  }
}
